/* make the webpade fit the whole available space */
html, body {
    margin: 0;
    height: 100%;
    background-color: #F4E8C1;
}

/* 1st section (header) */
.header {
    display: flex;
    flex-direction: column;
    background-color: #A0C1B9;
    flex: 1;
    justify-content: space-between;
}

.header-section {
    display: flex;
    background-color: #A0C1B9;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    padding-bottom: 3%;
}

.header-text {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #1A1A1A;
}

.header-text-bold {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size: 24px;
    font-weight: 600;
    color: #1A1A1A;
    margin-right: 700px;
    margin-left: 30px;

    @media (max-width: 768px) {
        margin-right: 10vmin;
        margin-left: 10vmin;
    }
}

.left-top-links {
    display: flex;
    flex: 1;
    justify-content: space-evenly;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

a {
    text-decoration: none;
}

/* 2nd section */
.image {
    display: flex;
    width: 50%;
    height: auto;
    margin: 40px;
    justify-self: flex-end;

    @media (max-width: 768px) {
        width: 25vmax;
    }
}

.hero-section {
    /* text container + image */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 10%;

    @media (max-width: 768px) {
        margin: 0 35%;
        flex-direction: column;;
    }
}

.hero-text {
    /* only the text and button */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-main {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    color: #1A1A1A;
    font-size: 48px;
}

.hero-button {
    background-color: #331E38;
    color: #FFFFFF;
    font-weight: 800;
    border: 0px solid;
    border-radius: 8px;
    padding: 20px 32px;
    margin: 10px;
    margin-left: 0px;
    justify-self: center;
    align-self: center;
    transition-duration: 0.4s; /* hover effect duration */
}

/* 4th section */
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
    margin-bottom: 5%;
}

.information-header {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.information-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
}

.information-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-graphic {
    height: auto;
    width: 20vmax;

    @media (max-width: 768px) {
        width: 15vmax;
    }
}

.information-text {
    text-align: center;
    color: #F4E8C1;
}

.mobile-image-container {
    @media (max-width: 768px) {
        display: flex;
        flex-direction: row;
    }
}

/* 3rd section */
.quote {
    display: flex;
    flex-direction: column;
    background-color: #F4E8C1;
    padding: 5% 10%;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
}

.quote-author {
    display: flex;
    color: #000000;
    font-weight: 600;
    justify-self: flex-end;
    align-self: flex-end;
}

/* 5th section */
.call {
    background-color: #331E38;
    border-radius: 10px;
    margin: 5% 10%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-evenly;
}

.call-text {
    display: flex;
    flex-direction: column;
}

.call-txt {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size: 16px;
    color: #FFFFFF;

}

.call-header {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.sign-up-button {
    padding: 2px 5px;
    background-color: #3882F6;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-self: center;
    align-self: center;
    transition-duration: 0.4s; /* hover effect duration */
}

.button-text {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    color: #FFFFFF;
    text-align: center;
    justify-self: center;
    align-self: center;
}

/* hover effect */
.sign-up-button:hover {
    opacity: 70%; 
}

/* 6th section (footer) */
.footer {
    background-color: #A0C1B9;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer-text {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    color: #FFFFFF;
}